@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --icon-color: white;
    --submit-button-color: rgb(22 101 52);
    --cancel-button-color: rgb(153 27 27);
    --button-hover-color: white;
    --info-icon-color-hover: blue;
    --edit-icon-color-hover: #C232B1
}

/*
*/
html, button{
	all: unset;
}
html{
	@apply flex flex-row flex-wrap justify-center items-center m-0 p-0;
	@apply w-full h-full;
}
html * {
	font-family: sans-serif;
}
body{
	@apply w-full bg-slate-100 m-auto;
	@apply flex flex-col;
	@apply w-full h-full;
	@apply justify-between;
}

.icon-league-link{
	font-size: 24px;
	@apply mx-0.5 my-0.5;
}
#navBar{
	@apply flex flex-row flex-wrap bg-slate-400 w-full;
	@apply justify-between;

}
.link-nav{
	@apply ml-4 font-semibold text-gray-600;
}
.link-nav-section{
	@apply text-black;
	@apply flex flex-row flex-wrap justify-center items-center;
}

.link-nav{
	@apply hover:text-white;
}

#webName{
	@apply ml-5 mr-5;
	@apply text-2xl font-bold;
}

#webID, #navSections{
	@apply flex flex-row flex-wrap;
	@apply justify-center items-center;
	@apply p-2;
}

.itemNav{
	@apply mx-10;
}

#webLogoImg{
	height: 30px;
	width: auto;
	/*@apply mx-5 my-5;*/

}
#webLogo{
	
}

#navBar, main{
	@apply w-11/12 mx-auto;
}
#navBar{
	@apply my-6;
}
	
main{
	@apply flex flex-wrap flex-col justify-items-center content-center;
}

#leagues-container, #leagues-inner-container{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	
}

#leagues-container, #leagues-inner-container, .league-info{
	@apply w-full;
}

.league-info-container{
	@apply w-full;
	@apply flex flex-wrap flex-col;
}
.league-container, .league-container-show{
	@apply w-full;
	/*@apply rounded-md border-2 border-solid border-black;*/
}

.league-container:nth-child(odd){
	@apply bg-slate-300;
}

.league-container:nth-child(even){
	@apply bg-slate-200;
}


.league-container{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply mt-5;
}

.league-info-container-show{
	@apply w-full flex flex-wrap flex-col justify-items-center content-center;
}

.league-container-show{
	@apply w-full flex flex-wrap flex-col justify-items-center content-center;
	@apply mt-5;
}

.league-info{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	@apply justify-start;
}
.league-info-show{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	@apply justify-center;
	@apply m-4;
}

.league-img{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	@apply justify-center;
	@apply min-w-52;
}

.league-img, .league-data, .league-img-show{
	@apply m-5;
}

.league-img-show{
	@apply self-center;
}

.league-img-show > img{
	width: 250px;
	height: auto;
}

.league-data{
	@apply flex flex-wrap flex-col justify-items-center content-center;
}



.league-name{
	@apply text-3xl font-bold;
}

.league-type{
	@apply text-base italic;
}

.league-imgs-index{
	max-width: 200px;
    max-height: 200px;
	@apply self-center;
}
.title-bold{
	@apply font-bold;
}

.league-links, .form-actions{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	@apply text-center justify-start;
	@apply mx-2;
	width: auto;
}
.league-link{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	@apply p-0 m-0;
}
.league-actions{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	@apply justify-end;
	width: auto;
}
.league-actions-show{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	@apply justify-center;
	width: auto;
	@apply my-2;
}
.league-actions > form{
	@apply flex flex-wrap flex-row justify-items-center content-center;
	

}
.actions-row{
	@apply flex flex-wrap flex-row justify-items-center content-center justify-center;
}
.actions-row div{
	@apply flex flex-wrap flex-row justify-items-center content-center justify-center;
	@apply mx-4;	
}

button.btn-create, a.btn-cancel{
	width: 150px !important;
}

/*
.form-actions{
	@apply flex flex-wrap flex-row justify-items-center content-center justify-between;
}*/

.form-actions-players{
	@apply flex flex-wrap flex-row justify-items-center content-center justify-end w-full my-2;
}


.league-interactions-all{
	@apply flex flex-wrap flex-row justify-items-center content-center justify-between;
	@apply mt-1 mb-4;
}




#leagueCreatorEmptyState{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply p-7 my-7;
	@apply bg-slate-300 w-full;
	/*@apply rounded-md border-2 border-solid border-black;*/

}
#leagueCreatorEmptyState > h2, .creator-empty-state > h2, .creator-normal > h2{
	@apply text-center text-2xl p-4;
}

#leagueCreatorNormal{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply p-7 my-7;
	@apply bg-slate-300 w-full;
	/*@apply rounded-md border-2 border-solid border-black;*/

}
#leagueCreatorNormal > h2{
	@apply text-center text-3xl pb-7;;
}

/* FOR SHOW LEAGUE */

.league-header{
	@apply mt-2 font-bold text-xl;
}

.league-data-field{
	@apply text-xl;
}

.btn-container{
	@apply flex content-center justify-center;
	@apply my-2;
}

.creator-empty-state, .creator-normal{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply p-7 my-7;
	@apply bg-slate-300 w-full;
	/*@apply rounded-md border-2 border-solid border-black;*/
}
.creator-empty-state > h2, .creator-normal >h2{
	@apply text-center;
}

.section-form-group, .form-group-main{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply my-4;
}
.form-group-main > .form-group{
	@apply flex flex-wrap flex-col justify-items-center content-center;
}

.form-group-main{
	@apply bg-red-300;
}
.form-group-hidden{
	display: none;
}

.form-group > input, .form-group > textarea, .form-group > label, .form-group{
	@apply w-full;
	@apply h-auto;
}
.form-group-match  input, .form-group-match  textarea, .form-group-match  label{
	margin-top: 4px;
	margin-bottom: 2px;
}

.form-group-match{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply w-full;
	@apply my-4 py-4;
}

.form-group > input, .form-group > textarea, .form-group-match > input, .form-group-match > textarea {
	@apply mx-1 mb-1 px-2;
	@apply bg-white;
} 
.form-group > label, .form-group-match > label{
	@apply mx-2;
	@apply text-xl font-bold;
}

.form-group-main > h3, .section-form-group >h3{
	@apply text-center;
}

input, textarea{
	
}


.match-edit-form > h3 {
	@apply text-3xl font-bold text-center;
	
}
.match-edit-form > h3 {
	@apply w-full;
	@apply bg-slate-300;
	@apply py-2 my-3;
}

/* FOR EDIT LEAGUE */

.edit-league-container{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply p-4 my-4;
	@apply w-full;
	/*@apply rounded-md border-2 border-solid border-black;*/
}

.edit-league-inner-container > h3 {
	@apply text-3xl font-bold text-center;
}

.edit-league-inner-container > h3{
	@apply bg-slate-300;
}

.edit-league-inner-container > h3, .edit-league-inner-container > form{
	@apply py-2 my-3;
}


.edit-league-inner-container > form > .form-group > h3, .edit-league-inner-container > form > .form-group > label{
	@apply m-0 p-0;
}

.edit-league-inner-container > form > .form-group > select{
	@apply rounded-md border border-solid border-black;
}

/* TEAMS VIEW INDEX */

#teams-container, #teams-inner-container, .team-container{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply w-full;
	
}
.team-container{
	@apply p-7 my-7;
	@apply bg-slate-300 w-full;
	/*@apply rounded-md border-2 border-solid border-black;*/
}

.team-info, .team-actions{
	@apply w-full;
}

.team-info{
	@apply flex flex-wrap flex-row justify-items-center content-center;
}
.team-actions{
	@apply flex flex-wrap flex-row justify-items-center content-center justify-end;
}

.team-data {
	@apply flex flex-wrap flex-col justify-items-center content-center justify-start;
}

.team-data > h3{
	@apply flex flex-wrap flex-row justify-items-center content-center justify-start;
	@apply mx-4 my-1;
}

.team-data-img{
	@apply mx-4;
	height: 20px;
	width: auto;
}

.team-img{
	@apply h-auto w-48;
}
.team-name{
	@apply text-3xl font-bold;
}

/* TEAM SHOW */
.team-info-container{
	@apply w-full;
}

.team-main-container{
	@apply p-7 my-7;
	@apply bg-slate-300 w-full;
	
	@apply flex flex-wrap flex-row justify-items-center content-center justify-center;
	/*@apply rounded-md border-2 border-solid border-black;*/
}
.team-info-main{
	@apply w-auto;
}
.title-section{
	@apply font-bold text-lg;
}
.team-info-name{
	@apply w-full;
	@apply flex flex-wrap flex-row justify-center content-center justify-items-center items-center;
	@apply my-3;
}
.team-info-name > .team-img, .team-info-name > .team-name{
	@apply mx-6;
}


/* TEAM CREATE create.team.blade */

.create-league-container{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply p-4 my-4;
	@apply w-full;
}

.create-league-inner-container{
	width: 700px;
}

.create-league-form{
	@apply flex flex-wrap flex-col justify-items-center content-center w-full;
}
.create-league-inner-container > h3{
	@apply bg-slate-300;
	@apply py-4;
	@apply my-4;
}

.create-league-inner-container > h3 {
	@apply text-3xl font-bold text-center;
}
.create-league-inner-container > form > .form-group-main > h3, .create-league-inner-container > form > .form-group-main > label{
	@apply m-0 p-0;
}

.create-team-inner-container > form > .form-group-main > select{
	@apply rounded-md border border-solid border-black;
}
.section-form-group{
	@apply  flex flex-wrap flex-col justify-items-center content-center;
	@apply w-full;
	@apply p-4;
}
.section-form-group > h3{
	@apply text-xl font-bold text-left;
}
.section-form-group:focus-within{
	border-left: 5px solid purple;
	transition: border-color 200ms;
}
.section-form-group{
	border-left: 5px solid blue;
	transition: border-color 200ms;
}

.section-form-group-match:focus-within{
	border-left: 5px solid purple;
	transition: border-color 200ms;
}
.section-form-group-match{
	border-left: 5px solid blue;
	transition: border-color 200ms;
}

.form-group > input, .form-group > textarea{
	@apply w-full m-0 p-0 px-4;
}
/*
.input-image{
	
}*/



/* VIEW MATCHES */

.moreInfoIcon{
	height: 50px;
	width: auto;
}

.team-img-matches{
	height: 40px;
	width: auto;
	max-width: 60px;
}
.match-main-info-table{
	@apply table-auto;
	/*@apply flex flex-wrap flex-row justify-center;*/
}

.match-main-info-table > tr{
	/*@apply flex flex-wrap flex-row justify-center;*/
}

.match-main-info-table td, .match-main-info-table img {
	/*@apply flex flex-wrap flex-row justify-center;*/

	
	
}
.match-table-row > td, .match-table-row > td > img{
	@apply text-center m-auto;
}

.match-table-row-address{
	@apply  flex-wrap flex-row justify-items-center content-center text-center;
	display: none;
}

/* EDIT TEAM team.edit.team.php */

.edit-team-container{
	@apply flex flex-wrap flex-col justify-items-center content-center;
	@apply p-4 my-4;
	@apply w-full;
	/*@apply rounded-md border-2 border-solid border-black;*/
}

.edit-league-form{
	@apply flex flex-wrap flex-col justify-items-center content-center w-full;
	background-color: none;
}

.edit-team-inner-container > h3 {
	@apply text-3xl font-bold text-center;
	@apply my-3 py-4;
}
.edit-team-inner-container > form > .form-group-main > h3, .edit-team-inner-container > form > .form-group-main > label{
	@apply m-0 p-0;
}

.edit-team-inner-container > form > .form-group-main > select{
	@apply rounded-md border border-solid border-black;
}

.edit-team-inner-container > h3 {
	@apply bg-slate-300;
}


/* SHOW MATCHES VIEW */

.match-main-container{
	@apply w-full flex flex-wrap flex-col justify-center content-center;
	@apply p-7 my-7;
	/*@apply rounded-md border-2 border-solid border-black;*/
}

.match-main-container > *{
	@apply w-full flex flex-wrap flex-row justify-center content-center;
}
.match-team-name, .match-team-name-vs{
	@apply font-bold;
	
}
.match-team-name{
	@apply w-full flex flex-wrap flex-col justify-center content-center;
	@apply text-4xl w-auto;
}
/*
.match-team-name:nth-child(1){
	@apply flex flex-wrap flex-row-reverse;
}
.match-team-name:nth-child(2){
	@apply flex flex-wrap flex-row;
}

.match-team-name:nth-child(3){
	@apply flex flex-wrap flex-row-reverse;
}
*/
.match-team-name-vs{
	@apply w-auto text-xl;
}

.container-match-date, .match-team-names, .container-match-results{
	@apply text-center;
	@apply flex flex-wrap justify-center content-center items-center justify-items-center;
}

.match-team-name, .match-team-name-vs{
	@apply m-4;
}

.container-match-points{
	@apply w-full flex flex-wrap flex-row justify-center content-center;
}

.container-team-points{
	@apply flex flex-wrap flex-col justify-center content-center items-center;
	@apply text-3xl font-bold m-5;
}
.container-match-points > h3{
	@apply flex flex-wrap flex-row justify-center content-center items-center;
	@apply text-2xl font-bold m-5;
}
.container-team-logo{
	@apply m-auto;
}

.container-team-logo > img{
	
	width: 12em;
	height: auto;

}
.match-actions{
	@apply w-full flex flex-wrap flex-row justify-end content-center;
}

/* MATCHES INDE matches.index.blade.php */




.match-table-row > td{
	@apply px-5;
}
.match-table-row-week{
	@apply w-full text-center py-3 text-xl self-center;
}




/* FOR MATCH CREATION*/
/* match.create.blade.php */

.create-team-inner-container{
	@apply w-4/6;
}
.create-match-form{
	@apply w-full flex flex-wrap flex-col justify-center content-center;
}
.create-match-form > * {
	@apply p-0;
}
.create-match-form > .section-form-group >.form-group > label{
	@apply text-xl font-bold;
}

/* FOR MATCH EDIT */
/*.match-main-container > form > *{
	@apply w-full flex flex-wrap flex-row justify-center content-center;
}*/
.match-teams-names, .container-match-info, .match-actions{
	@apply w-full flex flex-wrap flex-row justify-center content-center items-center;
}
.container-team-points > input{
	max-width: 150px;

}
.container-match-date{
	@apply w-full flex flex-wrap flex-col justify-center content-center;
}
.container-match-date > *, .contaier-match-status > *, .match-number-container > *{
	@apply text-xl font-bold m-1;
}

.match-number-container, .match-number-container > *{
	@apply w-auto flex flex-wrap flex-col justify-center content-center;
	@apply text-center;
}

/* COMMON ELEMENTS */

/* BUTTONS */

.league-link:hover a, .league-link:hover a span, .league-link:hover button, .league-link:hover span{
	color: var(--button-hover-color);
}
.btn-create:hover, .btn-create:hover span, .btn-cancel:hover, .btn-cancel:hover span{
	color: var(--button-hover-color);
}

.btn-create, .btn-delete, .btn-info, .btn-edit, .league-link, .btn-cancel{
	@apply flex flex-row justify-center items-center content-center;
	@apply rounded-full;
	@apply text-center;
	@apply mx-2;
}

.btn-create, .btn-delete , .btn-info, .btn-edit, .league-link >*, .btn-cancel{
	@apply text-xl;
	@apply text-slate-200 font-bold;
	@apply min-w-40;
	@apply py-1.5;
}

.btn-create, .btn-delete , .btn-edit, .btn-info, .league-link >*{
	@apply w-auto;
}

/*Buttons colors*/
.section-form-group{
	@apply bg-slate-300;
}
.section-form-group-match{
	@apply bg-slate-300;
}

.league-links > div:nth-child(odd){
	@apply bg-slate-500;
}

.league-links > div:nth-child(even){
	@apply bg-slate-700;
}

.btn-create{
	@apply bg-emerald-800;
}

.btn-edit{
	@apply bg-green-800;
}

.btn-info{
	@apply bg-sky-800;
}


.btn-delete{
	@apply bg-red-800;
}

.btn-cancel{
	@apply bg-red-800;
}

.league-actions > form, .team-actions > form{
	@apply py-1;
}

.link-info, .btn-edit, .btn-delete, .btn-create, .btn-cancel, .button-container{
	@apply flex flex-wrap flex-row justify-center content-center text-center content-center items-center align-middle;
}

.btn-img{
	height: 35px;
	width: auto;
	@apply pr-3;
}

.league-actions > form > button, .team-actions > form > button {
	@apply flex flex-wrap flex-row justify-center content-center text-center content-center items-center;
}	

.btn-create, .btn-cancel{
	@apply flex flex-wrap flex-row justify-center content-center text-center content-center items-center;
	align-self: center;
	@apply px-2;
}

/*MATCH INDEX matches.index.blade.php */

.match-main-info-table{
	@apply w-full;
}
	
.matches-calender-title{
	@apply flex flex-wrap flex-row content-center justify-center items-center;
	@apply h-8 w-full p-3;
	@apply bg-black;
	@apply text-2xl text-white;
	@apply m-auto;

}

.match-table-row-week{
	@apply bg-slate-700;
	@apply text-xl text-white;
}

/*
.match-main-info-table > tr:nth-of-type(odd), .match-main-info-table > tr:nth-of-type(odd) + .match-table-row-address{
	@apply bg-slate-100;
}
.match-main-info-table > tr:nth-of-type(even), .match-main-info-table > tr:nth-of-type(even) + .match-table-row-address{
	@apply bg-slate-300;
}
*/

/*
.match-main-info-table:nth-child(odd), .match-main-info-table:nth-child(odd) + .match-table-row-address{
	@apply bg-slate-100;
}

.match-main-info-table:nth-child(even), .match-main-info-table:nth-child(even) + .match-table-row-address{
	@apply bg-slate-300;
}
* 
* */

/*
.match-main-info-table  div:nth-of-type(odd){
	@apply bg-slate-100;
}
.match-main-info-table  div:nth-of-type(even){
	@apply bg-slate-300;
}*/

.match-table-row{
	@apply flex flex-wrap flex-row content-center justify-center items-center;
	@apply border-t border-black;
}


#leagues-container{
	@apply mt-14;
}

/*Table Troubleshooting*/
/*table, th, td { border: 1px solid gray; }*/

.main-container{
	@apply w-full flex flex-col content-center items-center justify-center;
}

/* TOOL BAR */

#tool-bar-complete{
	@apply w-full fixed;
	@apply flex flex-wrap flex-col justify-center content-center items-center;
	@apply bg-slate-200;
	@apply border-black border;
	@apply left-0 right-0;
}

#tool-bar{
	@apply w-full;
	@apply bg-slate-200;
	height: 55px;
	@apply flex flex-wrap flex-row;
	/*@apply border-y-4 border-black border-4;*/
}

#tool-bar-container{
	@apply w-11/12 m-auto;
	@apply flex flex-wrap flex-col justify-end;
	@apply my-1;
}

#tool-bar-tools{
	@apply w-11/12 m-auto;
	@apply flex flex-wrap flex-row justify-end;
	@apply my-1;
	margin-right: 60px;
}

.toolbar-switch{
	@apply flex flex-wrap flex-row justify-center content-center items-center;
	@apply mx-4;
}
.toolbar-switch > *{
	@apply mx-2;
}

#search-tool-hidden-form{
	
}

#search-tool-hidden-form, .search-tool, #search-week, .search-tool-form{
	@apply w-full;
}

#search-tool-hidden-form{
	/*@apply flex flex-wrap flex-col justify-center content-center items-center;*/
	display: none;
}

.search-tool > *{
	@apply m-4;
}

.tool-group, .btn-container-tool{
	@apply flex flex-wrap flex-row justify-center content-center items-center;
}
.tool-group{
	@apply m-4;
}
.tool-group > label, .tool-group > select {
	@apply ml-4;
}
.tool-bar-img{
	height: 35px;
	width: auto;
	@apply px-3;

}

.btn-img-tool{
	@apply h-8 w-auto;
	
}

/* Tool Bar Switch CSS*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* FLOATING LABEL FOR FORMS:*/

/*Form Required Field*/
.required {
  color: orange;
}



.form-group input, .form-group textarea, .form-group select{
  display: block;
  width: 100%;
  /*height: 100%;*/
  height: auto;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid black;
}

input[type=file]{
	@apply m-0 p-0 w-auto;
}

.form-group select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.form-group select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
.form-group select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.check-link{
	background-color: var(--submit-button-color);
}

.cancel-link{
	background-color: var(--cancel-button-color);
}


/*Footer*/
footer{
	@apply bg-slate-500;
	@apply flex flex-wrap flex-col justify-items-center content-center items-center;
	@apply my-4 py-4;
}

.footer-link-container{
	@apply flex flex-wrap flex-row justify-items-center content-center;
}

.link-footer{
	@apply flex flex-wrap flex-row justify-items-center content-center items-center;
	@apply mx-4;
	@apply text-center;
}

.link-footer:hover, .link-footer:hover snap{
	color: var(--button-hover-color);
}

.footer-img{
	@apply mr-4;
	height: 30px;
	width: auto;
}


/* Comp Players */
.players-all-container{
	@apply flex flex-col flex-wrap justify-center content-center text-center items-center;
	@apply w-full;
}

.player-container{
	@apply flex flex-col flex-wrap justify-between content-center text-center items-center;
	@apply w-full;
	@apply my-4;
}

.players-container-title{
	@apply bg-black text-white;
	@apply w-full;
	@apply py-4 my-4;
	@apply text-2xl font-bold;
}

.player-container:nth-child(even){
	@apply bg-slate-300;
}
.player-container:nth-child(odd){
	@apply bg-slate-500;
}

.player-info{
	@apply flex flex-row flex-wrap justify-start content-center text-center items-center;
	@apply w-full;
	@apply mt-3;
	
}

.player-photo{
	@apply ml-7;
}

.player-img{
	width: 200px;
	height: auto;
}


.player-team-info{
	@apply text-3xl font-bold;
}

.player-data-col{
	@apply ml-4;
	@apply flex flex-col flex-wrap justify-start content-start text-center items-start;
	
}
.player-data-all-container{
	@apply ml-4;
}

.player-data-all-container * {
	@apply text-start;
}
.player-name{
	@apply text-2xl font-bold;
}
.player-data{
	@apply flex flex-row flex-wrap justify-start content-center text-center items-center;
}
.player-body{
	@apply flex flex-row flex-wrap justify-center content-center text-start items-center;
}
.player-data > h3{
	@apply font-bold text-xl;
}
.player-data > h2{
	@apply text-xl;
	@apply mx-4;
}


.player-actions{
	@apply flex flex-row flex-wrap justify-around content-center text-center items-center;
	@apply w-full;
	@apply my-4;
}

.btn-players-action{
	@apply flex flex-row flex-wrap justify-start content-center text-center items-center;
	@apply w-28;
}

/*RANKINGs*/


.ranking-table-section{

	@apply flex flex-wrap flex-col justify-items-center content-center items-center;
	@apply my-4;
	@apply w-full;
	@apply bg-slate-300;
}

.ranking-table-title{
	@apply w-full;
	@apply bg-black text-white text-center text-2xl;
}

.ranking-table{
	@apply table-auto;
	@apply w-full;
}

.ranking-table tr:nth-child(odd){
	@apply bg-slate-100;
}

.ranking-table tr:nth-child(even){
	@apply bg-slate-500;
}

.ranking-table  tr:nth-child(1){
	@apply bg-slate-900;
	@apply text-white;
}


.ranking-table-row > td{
	@apply text-center m-auto;
}

.team-name-table-data, .match-table-row > td {
	@apply flex flex-row flex-wrap justify-center content-center text-center items-center;
	@apply h-full;
}

.team-name-table-data > img, .match-table-row > td > img{
	@apply flex flex-row flex-wrap justify-center content-center text-center items-center;
}

.team-name-table-data img, .team-name-table-data{
	display: table-cell;
	vertical-align: middle;
}

.ranking-team-img{
	width: 30px;
	height: auto;
	@apply m-auto;
}

.ranking-actions-icon-img{
	width: 50px;
	height: auto;
}

/*RESULTS TABLE*/

.results-table-section{

	@apply flex flex-wrap flex-col justify-items-center content-center items-center;
	@apply my-4;
	@apply w-full;
	@apply bg-slate-300;
}

.results-table-title{
	@apply w-full;
	@apply bg-black text-white text-center text-2xl;
}

.results-table{
	@apply table-auto;
	@apply w-full;
}

.results-table tr:nth-child(odd){
	@apply bg-slate-100;
}

.results-table tr:nth-child(even){
	@apply bg-slate-500;
}

.results-table  tr:nth-child(1){
	@apply bg-slate-900;
	@apply text-white;
}


.results-table-row > td{
	@apply text-center m-auto;
}

.team-name-table-data{
	@apply flex items-center;
	@apply h-full;
	@apply my-auto;
}

.team-name-table-data > img{
	@apply mx-3;
}

.results-team-img{
	width: auto;
	height: 35px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.results-actions-icon-img{
	width: 50px;
	height: auto;
}


/*RESULTS TABLE AND RANKING ICONS */

.results-table .icon-info, .match-main-info-table .icon-info{
	@apply text-4xl;
}

.results-table .icon-info:hover, .match-main-info-table .icon-info:hover{
	color: var(--info-icon-color-hover);
}

.results-table .icon-pencil:hover, .match-main-info-table .icon-pencil:hover{
	color: var(--edit-icon-color-hover);
}

/* For legends */


.legends-section{
	@apply bg-slate-300;
	@apply flex flex-wrap flex-col justify-items-center content-center items-center;
	@apply my-4 py-4;
	@apply w-full;
}
.legends-title{
	@apply text-xl font-bold text-center;

}
.legend-list{
	@apply px-4;
}


/* Component Form Resulst comp_formResults.css*/


.form-results-container{
	@apply w-full;
}

.form-results{
	@apply w-full;
}

.results-form-section{
	@apply flex flex-wrap flex-row justify-items-center content-center items-start justify-evenly;
	@apply w-full;
}
.form-group-results{
	width: 40%;
	@apply flex flex-wrap flex-col justify-items-center content-center items-center justify-evenly;
}

.form-group-results > h3{
	@apply text-xl font-bold text-center;
}

.form-group-results > input, .form-group-results > textarea {
	@apply mx-1 mb-1 px-2;
	@apply bg-white;
	width: 80%;
} 
.form-group-results > label{
	@apply mx-2;
	@apply text-xl font-bold;
}


/*Menu Responsive*/


#menu-icon{
	position: fixed;
	right: 10px;
	top: 10px;
	display: none;
}
#menu-icon *{
	font-size: 32px;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
 * @media only screen and (max-width: 935px) {*/
@media (max-width:900px)  
{ 
	
	main{
		width: 95%;
	}
	
	
	/*Menu Navigatior*/
	#menu-icon{
		display: inline;
		z-index: 2;
	}
	#navSections{
		display: inline;
		position: fixed;
		@apply flex flex-wrap flex-col justify-items-center content-center items-center;
		@apply w-full h-full p-0 m-0;
		left: -100%;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: grey;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 1;
	}
	.close-i{
		display: none;
	}
	.itemNav{
		@apply my-2;
		position: relative;
		width: 100%;
	}
	
	/*Links - Buttons */
	.link-info, .link-info *, .btn-edit, .btn-edit * , .btn-delete , .btn-delete *, .btn-info , .btn-info *, .btn-create, .btn-create > a, .btn-create > a > span{
		@apply text-sm;
	}
	.league-links > .league-link, form.league-link{
		@apply my-0 py-0 mx-1;
	}
	.league-link > a{
		width: 95px;
		min-width: 0px;
	}
	.league-link > button{
		width: 75px;
		min-width: 0px;
	}
	.league-link{
		@apply my-0.5;
	}
	form.league-link > button{
		@apply px-0 mx-0;
	}
	
	.link-info, .btn-delete, .btn-edit{
		@apply py-1;
	}

	
	/* Leagues Index Interactions*/
	.league-interactions-all{
		@apply flex-col;
	}
	.league-links, .form-actions{
		@apply w-auto my-1;
	}
	.league-links{
		@apply justify-start;
	}
	.form-actions{
		@apply justify-end;
	}
	#leagueCreatorNormal > h2{
		@apply text-sm;
	}
	
	/*Leagues Index */
	.league-info{
		@apply justify-center;
	}
	
	
	/*Matches Index*/
	.matches-calender-title{
		font-size: 16px;
	}
	.match-table-row-week{
		font-size: 8px;
	}
	.match-table-row * {
		font-size: 8px !important;
	}
	.match-table-row-address{
		font-size: 8px;
	}
	.match-table-row td{
		@apply p-0;
	}
	
	
	.ranking-table-title{
		font-size: 16px;
	}
	.ranking-table-header-row{
		font-size: 8px;
	}
	.ranking-table-header-row *{
	font-size: 8px;
	}
	.ranking-table-row *{
	font-size: 8px !important;
	}
	
	.results-table-title{
	font-size: 16px;
	}
	.results-table-header-row *{
	font-size: 8px;
	}
	.results-table-row *{
	font-size: 8px !important;
	}
	
	
	/*Footer*/
	.link-footer{
		@apply mx-1;
	}
	.link-footer, .link-footer > span{
		@apply text-sm;
	}
	
	
	/*Leagues Images*/
	.league-img-show > img{
		height: 100px;
		width: auto;
	}
	.league-header{
		@apply text-lg;
	}
	.league-data-field{
		@apply text-base;
	}
	
	/*Teams Images */
	div.team-img{
		@apply w-full flex flex-col flex-wrap justify-center text-center items-center;
	}
	.team-img{
		@apply w-auto;
		@apply flex flex-col flex-wrap justify-center text-center;
		max-height: 100px;
	}
	.team-data{
		@apply w-full;
	}
	.team-actions{
		@apply justify-center;
	}
	
	/*Team Show/Info*/
	.team-name{
		@apply w-full flex flex-col flex-wrap justify-center text-center items-center;
		justify-content: center  !important;
	}
	.league-info-show > *, .team-data > *{
		@apply w-full;
	}
	.player-team-info{
		@apply text-lg;
	}
	.player-name{
		@apply text-base;
	}
	.form-actions-players{
		@apply justify-center;
	}
	
	/*Matches Info*/
	.match-team-name{
		@apply text-lg text-center;
		width: 35%;
	}
	.match-team-name-vs{
		@apply text-sm;
	}
	.container-team-logo{
		width: 60px !important;
	}
	.container-team-logo > img{
		width: 45px;
	}
	.container-match-results{
		width: auto;
		max-width: 50%;
	}
	.team-img-match{
		
	}
	.container-team-points {
		@apply text-base;
		@apply m-1;
	}
	.match-actions{
		@apply mt-4;
	}
	.results-team-img, .ranking-team-img, .team-img-matches{
		width: auto;
		height: 20px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	
	/*Match edit/modify*/
	.match-main-container{
		@apply p-2;
	}
	.match-edit-form{
	
	}
	.form-group-match.section-form-group-match *{
		@apply text-base;
	}
	.form-group-results > h3{
		@apply text-base;
	}	
	
	.form-group-results > label{
		@apply text-sm;
	}
	.match-team-name label{
		font-size: 12px !important;
	}
	.match-team-name select{
		font-size: 12px !important;
		text-overflow: ellipsis;
		width: 80px;
	}
	.match-team-name-vs{
		width: auto;
		@apply m-0;
		font-size: 8px! important;
	}
	.form-group-match label{
		font-size: 12px !important;
	}
	.form-group-match select, .form-group-match  textarea, .form-group-match  input{
		font-size: 10px !important;
	}
	.container-match-points div{
		width: 20%;
	}
	.container-team-points > input{
		width: 30px;
	}
	.actions-row *, .btn-container-tool *{
		@apply text-sm;
	}
	.actions-row div{
		width: 80px
	}
	button.btn-create, a.btn-cancel{
		width: 100px !important;
		min-width: 100px;
		max-width: 100px;
		margin: 0;
		padding: 4px;
		@apply text-sm;
	}
	a.btn-create{
		@apply w-auto;
	}
	button.btn-create, a.btn-cancel, a.btn-create *{
		@apply text-sm;
	}
	
	/*Modify Team Forms*/
	.create-league-inner-container{
		@apply w-full;
	}
	input[type=file] {
		width: 250px;
	}
	
	/*Teams Show*/
	.team-img > img{
		height: 70px;
	}
	.team-name{
		@apply my-2;
	}

	/*PLAYERS*/
	.player-photo{
		@apply w-full flex content-center justify-center items-center;
	}

}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) 
 *  @media only screen and (max-width: 450px) {*/ 
@media only screen and (max-width: 600px) {
	
	main{
		width: 95%;
	}
	
	
	/*Menu Navigatior*/
	#menu-icon{
		display: inline;
		z-index: 2;
	}
	#navSections{
		display: inline;
		position: fixed;
		@apply flex flex-wrap flex-col justify-items-center content-center items-center;
		@apply w-full h-full p-0 m-0;
		left: -100%;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: grey;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 1;
	}
	.close-i{
		display: none;
	}
	.itemNav{
		@apply my-2;
		position: relative;
		width: 100%;
	}
	
	/*Links - Buttons */
	.link-info, .link-info *, .btn-edit, .btn-edit * , .btn-delete , .btn-delete *, .btn-info , .btn-info *, .btn-create, .btn-create > a, .btn-create > a > span{
		@apply text-sm;
	}
	.league-links > .league-link, form.league-link{
		@apply my-0 py-0 mx-1;
	}
	.league-link > a{
		width: 95px;
		min-width: 0px;
	}
	.league-link > button{
		width: 75px;
		min-width: 0px;
	}
	.league-link{
		@apply my-0.5;
	}
	form.league-link > button{
		@apply px-0 mx-0;
	}
	
	.link-info, .btn-delete, .btn-edit{
		@apply py-1;
	}

	
	/* Leagues Index Interactions*/
	.league-interactions-all{
		@apply flex-col;
	}
	.league-links, .form-actions{
		@apply w-auto my-1;
	}
	.league-links{
		@apply justify-start;
	}
	.form-actions{
		@apply justify-end;
	}
	#leagueCreatorNormal > h2{
		@apply text-sm;
	}
	
	/*Leagues Index */
	.league-info{
		@apply justify-center;
	}
	
	
	/*Matches Index*/
	.matches-calender-title{
		font-size: 16px;
	}
	.match-table-row-week{
		font-size: 8px;
	}
	.match-table-row * {
		font-size: 8px !important;
	}
	.match-table-row-address{
		font-size: 8px;
	}
	.match-table-row td{
		@apply p-0;
	}
	
	
	.ranking-table-title{
		font-size: 16px;
	}
	.ranking-table-header-row{
		font-size: 8px;
	}
	.ranking-table-header-row *{
	font-size: 8px;
	}
	.ranking-table-row *{
	font-size: 8px !important;
	}
	
	.results-table-title{
	font-size: 16px;
	}
	.results-table-header-row *{
	font-size: 8px;
	}
	.results-table-row *{
	font-size: 8px !important;
	}
	
	
	/*Footer*/
	.link-footer{
		@apply mx-1;
	}
	.link-footer, .link-footer > span{
		@apply text-sm;
	}
	
	
	/*Leagues Images*/
	.league-img-show > img{
		height: 100px;
		width: auto;
	}
	.league-header{
		@apply text-lg;
	}
	.league-data-field{
		@apply text-base;
	}
	
	/*Teams Images */
	div.team-img{
		@apply w-full flex flex-col flex-wrap justify-center text-center items-center;
	}
	.team-img{
		@apply w-auto;
		@apply flex flex-col flex-wrap justify-center text-center;
		max-height: 100px;
	}
	.team-data{
		@apply w-full;
	}
	.team-actions{
		@apply justify-center;
	}
	
	/*Team Show/Info*/
	.team-name{
		@apply w-full flex flex-col flex-wrap justify-center text-center items-center;
		justify-content: center  !important;
	}
	.league-info-show > *, .team-data > *{
		@apply w-full;
	}
	.player-team-info{
		@apply text-lg;
	}
	.player-name{
		@apply text-base;
	}
	.form-actions-players{
		@apply justify-center;
	}
	
	/*Matches Info*/
	.match-team-name{
		@apply text-lg text-center;
		width: 35%;
	}
	.match-team-name-vs{
		@apply text-sm;
	}
	.container-team-logo{
		width: 60px !important;
	}
	.container-team-logo > img{
		width: 45px;
	}
	.container-match-results{
		width: auto;
		max-width: 50%;
	}
	.team-img-match{
		
	}
	.container-team-points {
		@apply text-base;
		@apply m-1;
	}
	.match-actions{
		@apply mt-4;
	}
	.results-team-img, .ranking-team-img, .team-img-matches{
		width: auto;
		height: 20px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	
	/*Match edit/modify*/
	.match-main-container{
		@apply p-2;
	}
	.match-edit-form{
	
	}
	.form-group-match.section-form-group-match *{
		@apply text-base;
	}
	.form-group-results > h3{
		@apply text-base;
	}	
	
	.form-group-results > label{
		@apply text-sm;
	}
	.match-team-name label{
		font-size: 12px !important;
	}
	.match-team-name select{
		font-size: 12px !important;
		text-overflow: ellipsis;
		width: 80px;
	}
	.match-team-name-vs{
		width: auto;
		@apply m-0;
		font-size: 8px! important;
	}
	.form-group-match label{
		font-size: 12px !important;
	}
	.form-group-match select, .form-group-match  textarea, .form-group-match  input{
		font-size: 10px !important;
	}
	.container-match-points div{
		width: 20%;
	}
	.container-team-points > input{
		width: 30px;
	}
	.actions-row *, .btn-container-tool *{
		@apply text-sm;
	}
	.actions-row div{
		width: 80px
	}
	button.btn-create, a.btn-cancel{
		width: 100px !important;
		min-width: 100px;
		max-width: 100px;
		margin: 0;
		padding: 4px;
		@apply text-sm;
	}
	a.btn-create{
		@apply w-auto;
	}
	button.btn-create, a.btn-cancel, a.btn-create *{
		@apply text-sm;
	}
	
	/*Modify Team Forms*/
	.create-league-inner-container{
		@apply w-full;
	}
	input[type=file] {
		width: 250px;
	}
	
	/*Teams Show*/
	.team-img > img{
		height: 70px;
	}
	.team-name{
		@apply my-2;
	}
}
 
