@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--arrow-icon: url();
}

*{
  margin: 0;
  padding: 0;
}

/* FORMULAR CSS */

.create-league-form input , .create-league-form select, .create-league-form textarea {
	outline: none;
	box-sizing: border-box;
}


.form-group input,
.form-group textarea,
.form-group select{
  display: block;
  width: 100%;
  /*height: 100%;*/
  height: auto;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid black;
}
/*
.form-group select{

	appearance: none;
	border:0;
	outline: 0;
	font: inherit;
	

	width: auto;
	@apply py-1 pr-3 pl-3;
	@apply bg-white;
	cursor: pointer;
}*/




.form-group select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.form-group select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
.form-group select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

