
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?of6t6n');
  src:  url('../fonts/icomoon.eot?of6t6n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?of6t6n') format('truetype'),
    url('../fonts/icomoon.woff?of6t6n') format('woff'),
    url('../fonts/icomoon.svg?of6t6n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?of6t6n');
  src:  url('fonts/icomoon.eot?of6t6n#iefix'),
    url('fonts/icomoon.ttf?of6t6n'),
    url('fonts/icomoon.woff?of6t6n'),
    url('fonts/icomoon.svg?of6t6n#icomoon');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*/


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e905";
}
.icon-address:before {
  content: "\e906";
}
.icon-contact:before {
  content: "\e908";
}
.icon-create:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e91e";
}
.icon-info-filled:before {
  content: "\e91f";
}
.icon-legal:before {
  content: "\e920";
}
.icon-mail:before {
  content: "\e921";
}
.icon-matches:before {
  content: "\e922";
}
.icon-players:before {
  content: "\e923";
}
.icon-teams:before {
  content: "\e924";
}
.icon-pencil:before {
  content: "\e925";
}
.icon-cup:before {
  content: "\e926";
}
.icon-login:before {
  content: "\e928";
}
.icon-search1:before {
  content: "\e987";
}
.icon-menu:before {
  content: "\e9be";
}
.icon-cancel:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-mail-2:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}
.icon-moon:before {
  content: "\e904";
}
.icon-bat:before {
  content: "\e907";
}
.icon-move:before {
  content: "\e909";
}
.icon-admin:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-bat-2:before {
  content: "\e90c";
}
.icon-cv-file:before {
  content: "\e90d";
}
.icon-register:before {
  content: "\e90e";
}
.icon-report:before {
  content: "\e90f";
}
.icon-project:before {
  content: "\e910";
}
.icon-gears-screen:before {
  content: "\e911";
}
.icon-person:before {
  content: "\e912";
}
.icon-reading:before {
  content: "\e913";
}
.icon-teach:before {
  content: "\e914";
}
.icon-dices:before {
  content: "\e915";
}
.icon-learning:before {
  content: "\e916";
}
.icon-language-world:before {
  content: "\e917";
}
.icon-language-chars:before {
  content: "\e918";
}
.icon-laptop-fix:before {
  content: "\e91a";
}
.icon-team:before {
  content: "\e91b";
}
.icon-gitlab:before {
  content: "\e91c";
}
.icon-sync:before {
  content: "\e91d";
}
.icon-bubbles:before {
  content: "\e96f";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-gears:before {
  content: "\e995";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-location:before {
  content: "\e947";
}
.icon-location-dot:before {
  content: "\e948";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-phone:before {
  content: "\e942";
}
.icon-info:before {
  content: "\ea0c";
}
