/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

.main-section{
	@apply flex flex-wrap flex-col justify-items-center content-center items-center;
	@apply w-full;
	@apply bg-slate-300;
	@apply my-4 py-4;
}

.to-do{
	@apply text-2xl font-bold;
}

.to-do-list{
	/*@apply flex flex-wrap flex-col justify-items-center content-center items-start;*/
	display: list-item;
	list-style-type: circle;
	list-style-position: outside;
}
.main-section > h3{
	@apply text-2xl font-bold;
	@apply my-4;
}

.to-do-list-item{
	/*@apply flex flex-wrap flex-col justify-items-center content-center items-start;*/
	@apply my-4;
}
.to-do-list-item > h4{
	@apply text-xl font-bold;
}
